@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

<!--==================== ABOUT ====================-->
<section class="about section" id="about">
    <div class="about__container  grid">
        <h2 class="section__title-1">
            <span>About Me.</span>
        </h2>

        <div class="about__perfil">
            <div class="about__image">
                <img src="https://source.unsplash.com/1600x1200?food" alt="image" class="about__img">

                <div class="about__shadow"></div>

                <div class="geometric-box"></div>

                <div class="about__box"></div>
            </div>
        </div>

        <div class="about__info">
            <p class="about__description">
                Passionate about creating <b>Recipes</b> with
                <b>Love</b>, Enjoy Our Delicious Recipes made with love and joy
            </p>

            <ul class="about__list">
                <li class="about__item">
                    <b>Specialised in</b> Chinese,Indian, Continental , Italian , Mexican
                </li>
            </ul>

            <div class="about__buttons">
                <a href="#contact" class="button">
                    <i class="ri-send-plane-line"></i> Contact Us
                </a>

                <a href="https://www.linkedin.com/" target="_blank" class="button__ghost">
                    <i class="ri-linkedin-box-line"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<style>
    footer{
        top:80vw;
    }
    #footer{
        top:60vw;
    }
</style>